 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto:wght@100;300;500&display=swap');


/* SELECTORES BASICOS */
header, section, article, nav, footer, aside, figure, form{
    display: block;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    background: #000;
}
*{
    box-sizing: border-box;
}
p, h1, h2,h3, h4{
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    color: #555555;
    margin: 6px;
}
h1{font-size: 24px;}
h2{font-size: 20px;}
h3{font-size: 18px;}
h4{font-size: 16px;}
p{font-size: 14px;}
a{
    text-decoration: none;
    color:#555555;
}
a img{
    border: none,
}
ul, ol{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #555555;
}
#scrollUp{
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 10px;
    /* background-image: ; */
}
#cajacabercera{
    width: 100%;
    background: #684815;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}
#cabecera{
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    margin: auto;
}
#logo{
    width: 20%;
    padding: 6px 0;
}
/* -------------------MENU------------------------ */

.menu{
    width: 80%;
}
#btn-menu{
    display: none;
}
#mmovil{
    font-size: 30px;
    cursor: pointer;
    text-align: right;
    color: #edbc65;
    display: none;
}
.menu ul{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu a{
    display: block;
    line-height: 90px;
    padding: 0 10px;
    color: #b78020;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
}
.menu a i{
    font-size: 20px;
    padding: 0 5px;
}
.menu a:hover{
    color: #fff;
    border-bottom: 2px solid #f2f2f2;
    background-color: #edbc65;
}
.seccion{
    width: 100%;
    margin: 0;
}
.inicio{
    background-image: url("../imagenes/banner1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 792px;
    position: relative;
}
.quehacemos{
    background: #fff url("../imagenes/fondo-ciudad.png") no-repeat bottom;
    height: 1000px;
    position: relative;
    padding-top: 100px;
}
.queofrecemos{
    background: #38332b;
    height: 1000px;
    position: relative;
    padding-top: 100px;
}
.clientes{
    background: #fff url("../imagenes/fondo-ciudad.png") no-repeat bottom;
    height: 1000px;
    position: relative;
    padding-top: 100px;
}
.portafolio{
    background: #38332b;
    height: 1000px;
    position: relative;
    padding-top: 100px;
}
.contactenos{
    background: #fff url("../imagenes/fondo-ciudad.png") no-repeat bottom;
    height: 1000px;
    position: relative;
    padding-top: 100px;
}
.nube-gris1{
    width: 100%;
    height: auto;
    display: block;
    max-width: 396px;
    position: absolute;
    left: 2%;
    top: 13%;
}
.nube-gris2{
    width: 100%;
    height: auto;
    display: block;
    max-width: 491px;
    position: absolute;
    right: 2%;
    top: 18%;
}

/* ---------------------------------------------------
---------------PIE DE PAGINA-----------------------
--------------------------------------------------- */
#piepagina{
    background: #cc982a;
    padding: 2% 0;
}
.cajapie{
    width: 100%;
    max-width: 1100px;
    margin: auto;

}
#piepagina p{
    text-align: center;
    color: #ffffff;
}
#piepagina ul{
    width: 160px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    list-style: none;
}
#piepagina ul li{
    padding: 0 5px;
}
#piepagina ul li a{
    width: 4opx;
    height: 40px;
    display: block;
    line-height: 40px;
    color: #ebb548;
    text-align: center;
    font-size: 20px;
}
